langchain
langgraph
langchain_huggingface
langchain_openai
langchain_community
langchain_core
langchain_text_splitters
typing 
dotenv
shutil
pydantic
sentence-transformers
sqlite3
fastapi
uvicorn
python-multipart
pypdf
faiss
faiss-cpu
